[report]
omit =
    tests/*
    */python?.?/*
    */site-packages/nose/*
    fslash/_version.py
exclude_lines =
    pragma: no cover
    return NotImplemented
    raise NotImplementedError
    \.\.\.
[xml]
output = coverage.xml
