exclude: "_version.py|versioneer.py"
repos:
  - hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
        args: [--check]
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.6
  - hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.391"]
    repo: local
