jupyter-book>=2.1.6,<3.0
jupytext>=1.19.5,<2.0
linkify-it-py
myst-nb
sphinx>=9.1.0,<10
sphinx-autodoc-typehints>=3.13.2,<4.0
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-external-toc
sphinx-jupyterbook-latex
sphinx-panels
sphinx-thebe
sphinx-togglebutton
