jupyter-book>=1.0.4.post1,<2.0
jupytext>=1.19.5,<2.0
linkify-it-py
myst-nb
sphinx>=7,<8
sphinx-autodoc-typehints>=1.23,<2.0
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-external-toc
sphinx-jupyterbook-latex
sphinx-panels
sphinx-thebe
sphinx-togglebutton
